.d1{
    position: absolute;
    left: 450px;
    top: 180px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .d2{
      position: absolute;
      left: 860px;
      top: 180px;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .d3 {
      position: absolute;
      top: 920px;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .d4 {
      position: absolute;
      left: 450px;
      top: 920px;
      
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .d5 {
      position: absolute;
      left: 860px;
      top: 920px;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  